.cont-login{
    text-align: left;
}

  .crear {
    width: 70%;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(33, 72, 212);
    border-radius: 15px;
    border: 1px solid #323F4B;
    background: rgba(236, 232, 232, 0.75);
    padding: 3%;
    padding-top: 1%;
    padding-bottom:1% ; 
    margin-top: 2%;

  }
  .tabla {
    
    width: 80%;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(33, 72, 212);
    border-radius: 15px;
    border: 1px solid #323F4B;
    background: rgba(236, 232, 232, 0.75);
    padding: 2%;
    padding-top: 1%;
    padding-bottom:1% ; 
    margin-top: 2%;

  }
    .mb-3{
    text-align: left;
}

#estadoGuardado{
  color: green;
}

#estadoCancelado{
  color: red;
}

#estadoCumplido{
  color: orange;
}

.btcancel{
  border: none;
  background: none;
}